.menu{
    margin-top: 1%;
    margin-left: 5.5%;
}

.linklotofacil{
    text-decoration: none;
	color: #930089;
	padding: 12px;
    font-size: 18px;
}

.linkmegasena{
    text-decoration: none;
	color: #209869;
	padding: 12px;
    font-size: 18px;
}

.linkquina{
    text-decoration: none;
	color: #260085;
	padding: 12px;
    font-size: 18px;
}



.link:hover{
    color: rgba(225, 225, 255, 0.5);
}  


.link-cor {
    color: #ddd;
    pointer-events: none;
    text-decoration: none;
    font-size: 18px;
    padding: 12px;
}